<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Task Name</th>
                <th scope="col">Created By</th>
                <th scope="col">Created Date</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Priority</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!taskList" colspan="8">Loading....!</tr>
            <tr *ngIf="taskList.length<=0" colspan="8">Currently we have no task...</tr>
            <tr *ngFor='let task of taskList;index as i'>
                <td>{{i+1}}</td>
                <td>{{task.taskName}}</td>
                <td>{{task.createdBy}}</td>
                <td>{{task.createdDate | date:'medium'}}</td>
                <td>{{task.startDate | date:'medium'}}</td>
                <td>{{task.endDate | date:'medium'}}</td>
                <td>{{task.priority}}</td>
                <td><i class="bi bi-trash bootdelicon" (click)="DeleteTask(task)"></i></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <form class="row g-3" [formGroup]="taskForm">
        <div class="col-12">
            <label for="taskname" class="form-label">Task Name</label>
            <input type="text" class="form-control" id="taskname" formControlName="taskName">
        </div>
        <div class="col-md-6">
            <label for="startdate" class="form-label">Start Date</label>
            <input type="datetime-local" class="form-control" id="startdate" formControlName="startDate">
        </div>
        <div class="col-md-6">
            <label for="enddate" class="form-label">End Date</label>
            <input type="datetime-local" class="form-control" id="enddate" formControlName="endDate">
        </div>
        <div class="col-md-6">
            <label for="creator" class="form-label">Task Creator</label>
            <select formControlName="createdBy" class="form-select" id="priority" aria-label="Default select example">
                <option selected>Tell us who you are ?</option>
                <option *ngFor='let c of creators' [value]="c.id">{{c.cname}}</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="priority" class="form-label">Task Priority</label>
            <select formControlName="priority" class="form-select" id="priority" aria-label="Default select example">
                <option selected>Please select Priority</option>
                <option *ngFor='let p of priorities' [value]='p.id'>{{p.pname}}</option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" (click)="submitTask()" class="btn btn-primary">Create Task</button>
        </div>
    </form>
</div>