<!-- <app-directives></app-directives> -->
<!-- <app-format></app-format> -->

<!-- <select class="form-select" [(ngModel)]="countryValue" style="margin: 25px;width: 250px;" (change)="countryChange()"
    aria-label="Default select example">
    <option [value]=-1>Please select Country</option>
    <option *ngFor="let c of countryToCodes" [value]="c.code">{{c.country}}</option>
</select>
<input class="form-control" [(ngModel)]="phoneno" style="margin: 25px;width: 250px;" type="text" name="" id=""
    appInputFormat [format]="countryValue" [disabled]="countryValue==-1">  -->


<!-- <contact-form></contact-form> -->
<!-- <app-templatevartest></app-templatevartest> -->
<!-- <app-templatedrivenform></app-templatedrivenform> -->
<!-- <app-reactive-signup-form></app-reactive-signup-form> -->
<!-- <app-reactive-signup-form2></app-reactive-signup-form2> -->
<app-httpservicestuts></app-httpservicestuts>
<app-create-task></app-create-task>